@import 'proto-ui.vusion/src/u-sidebar-item.vue/module.css';

.root {
    color: inherit;       
}

.root[selected] {
    color: $brand-primary;
    background-color: #fff;
}

.root:hover {
    color: $brand-primary;
}

.root[disabled] {
    color: #34495e75;
}