.root {
    display: inline-block;
    margin-right: 10px;
    padding-right: 40px; /* 增加mouseover区域 */
    margin-right: -30px;
}

.content {
    position: relative;
}

.content::after {
    content: '';
    position: absolute;
    display: inline-block;
    border: 5px solid transparent; 
    border-top-color: #ffffff;
    top: 5px;
    right: -20px;
}

.items {
    position: absolute;
    background-color: rgba(256, 256, 256, .7);
    color: $word-primary;
    line-height: 2;
    width: 120px;
    top: 50px;
    left: 40px;
    font-size: 14px;
    text-align: left;
    box-shadow: 0 2px 8px rgba(128,142,150,0.2);
    z-index: 1; /* 防止hover到后面的导航 */
}