.root {
    display: inline-block;
    position: relative;
    user-select: none;
    cursor: $cursor-pointer;
    text-align: center;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    padding-right: 45px; /* 增加mouseover区域 */
    margin-left: 30px;
}

.root + .root {
    margin-left: 30px;
}

.root[readonly] {
    cursor: default;
}

.root[selected] {
    color: $brand-primary;
}

.root[disabled] {
    cursor: $cursor-not-allowed;
    color: $brand-disabled;
}

.content {
    position: relative;
}

.content::after {
    content: '';
    position: absolute;
    display: inline-block;
    border: 5px solid transparent;
    border-left-width: 4px;
    border-right-width: 4px;
    border-top-color: #ffffff;
    top: 7px;
    right: -15px;
}

.items {
    position: absolute;
    background-color: rgba(256, 256, 256, .85);
    color: $word-primary;
    line-height: 2;
    width: 120px;
    top: 54px;
    left: -10px;
    font-size: 14px;
    text-align: left;
    box-shadow: 0 2px 8px rgba(128,142,150,0.2);
    z-index: 1; /* 防止hover到后面的导航 */
    border-radius: 2px;
    padding: 6px 0;
}
